.whatsapp-button button {
    background-color: #25d366;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  
  .whatsapp-button button:hover {
    background-color: #128c7e;
    cursor: pointer;
  }

  