.whatsapp-button button {
    background-color: #25d366;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  
  .whatsapp-button button:hover {
    background-color: #128c7e;
    cursor: pointer;
  }

  /* proprios */
  .responsive-image {
    max-width: 100%;
    height: auto;
  }
  
  .responsive-image img {
    width: 100%;
    height: auto;
  }



  @keyframes moveButton {
    0% { transform: translateX(0); }
    50% { transform: translateX(10px); }
    100% { transform: translateX(0); }
  }

  .moving-button {
    animation: moveButton 2s infinite;
  }